.VIWDiv table.inform td {
    width: 40%;
}

.second.post .text-blue {
	border:1px solid #9398a7;
	color:#1226fa;
	width:400px;
	padding:0 5px;
	float:left;
	font-size:13px;
	font-family:Arial;
	clear:both;
	margin:4px 0;
	height:15px;
	line-height:15px;
}

#imgPreviewWithStyles {
    background: #222;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 15px;
    z-index: 999;
    border: none;
}

table.inform td a span {
	padding-right: 0px;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 100px;
}
