
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;}
	
body {line-height: 1;}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;}
	
ol, ul {list-style: none;}

blockquote {quotes: none;}

blockquote:before, blockquote:after {
	content: '';
	content: none;}
	
del {text-decoration: line-through;}

a {
	color:#2280f2;
	text-decoration:underline;
	cursor:pointer;}

a:hover { text-decoration:none;}

html { height:100%; width:100%;}	

body {
	height:100%;
	width:100%;
	background:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#1c357c;}
	
#wrapper {
	width:1200px;
	margin:0 auto;
	min-height:100%;
	min-height:auto !important;
	height:100%;
	background:url(../images/body-bg.gif) repeat-y;}
	
.header-top {
	float:left;
	width:1200px;
	height:190px;
	background:url(../images/logo-bg.jpg) no-repeat #fff;
	padding-bottom:6px;}	
	
.no-display { display:none;}		
	
.services {
	height:30px;
	float:left;
	background:url(../images/services-right.png) 100% 0% no-repeat;
	padding-right:10px;}
	
.services span.text {
	float:left;
	height:20px;
	background:url(../images/services-middle.png) repeat-x;
	padding:0 20px 10px 0;
	color:#9440a3;
	font-size:13px;}		
	
.services .text span{
	float:left;
	padding-left:15px;
	line-height:24px;
	border-left:1px solid #cfcfd0;}	
	
.log-out {
	float:right;
	height:30px;
	margin-right:5px;
	background:url(../images/log-out-right.png) 100% 0 no-repeat;
	padding-right:8px;}
	
.log-out ul {
	float:left;
	height:30px;
	background:url(../images/log-out-left.png) no-repeat;
	padding-left:8px;}

.log-out li {
	float:left;
	height:30px;
	background:url(../images/log-out-middle.png) repeat-x;
	font-size:10px;}

.log-out li a {
	float:left;
	color:#2280f2;
	padding:7px 15px;
	border-left:1px solid #cfcfd0;
	text-decoration:underline;}

.log-out ul li:first-child a {
	border:none;
	padding-left:11px;}
	
.log-out ul li:last-child a { padding-right:11px;}

.log-out li a:hover	{ text-decoration:none;}

.header-bottom {
	float:left;
	width:1188px;
	margin:0 6px;
	background:url(../images/header-bottom-bg.gif) repeat-y;}
	
ul.top-menu {
	float:left;
	width:1170px;
	padding-left:18px;
	background:url(../images/top-menu-bg.gif) no-repeat;
	height:34px;
	margin-bottom:10px;}	
	
ul.top-menu li {
	float:left;
	background:url(../images/top-menu-li-middle.gif) repeat-x;
	height:34px;
	font-weight:bold;
	margin-right:-2px;
	text-transform:uppercase;
	position:relative;}

ul.top-menu li .left {
	float:left;
	height:34px;
	background:url(../images/top-menu-li-left.gif) no-repeat;
	padding-left:5px;}

ul.top-menu li .right {
	float:left;
	height:34px;
	background:url(../images/top-menu-li-right.gif) 100% 0 no-repeat;
	padding-right:5px;}

ul.top-menu li a {
	color:#fff;
	float:left;
	margin:5px;
	line-height:19px;
	background:url(../images/top-menu-a-bg.gif) repeat-x;
	text-decoration:none;}
	
ul.top-menu li a .left {
	float:left;
	height:19px;
	background:url(../images/top-menu-a-left.gif) no-repeat;
	padding-left:3px;}

ul.top-menu li a .right {
	float:left;
	height:19px;
	background:url(../images/top-menu-a-right.gif) 100% 0% no-repeat;
	padding:0 6px}	

ul.top-menu li:hover a {
	background:none;
	color:#1c357c;
	text-shadow:0px 1px 1px #fff;}
ul.top-menu li:hover a .right {background:none;}
ul.top-menu li:hover a .left {background:none;}
ul.top-menu li:hover ul li a { color:#fff; text-shadow:none; filter:none;}
ul.top-menu li:hover ul li li a { color:#1c357c; text-shadow:none; filter:none}
ul .top-pod-menu {
	display:none;
	position:absolute;
	top:33px;
	left:0px;
	width:264px;
	background:url(../images/pod-menu-bottom.png) no-repeat 0 100%;
	padding-bottom:5px;}
	
ul.top-menu li:hover .top-pod-menu { display:block;}	

ul .top-pod-menu ul {
	float:left;
	width:264px;
	background:url(../images/pod-menu-top.gif) no-repeat;
	padding-top:3px;}

ul .top-pod-menu ul li {
	float:left;
	width:256px;
	background:url(../images/pod-menu-middle.png) repeat-y;
	padding:0 4px;
	height:auto;
	line-height:24px;
	position:static;}

ul .top-pod-menu li a {
	width:233px;
	margin:0;
	padding-left:23px;
	float:left;
	line-height:24px;
	background:none;
	background:#c6cbd8;
	border-top:1px solid #e6e8ee;}

ul .top-pod-menu li a:hover{
	background:#e6e8ee;
	color:#fff;}

ul .top-pod-menu ul ul {
	float:left;
	width:256px;
	background:none;
	padding:0;}

ul .top-pod-menu ul ul li {
	background:none;
	padding:0;
	font-weight:normal;
	text-transform:none;}

ul .top-pod-menu ul ul li a {color:#1c357c;}

ul .top-pod-menu ul ul li a:hover {color:#1c357c;} 

h1.page-title {
	clear:both;
	padding: 0 0 10px 0;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#1c357c;}
	
.bottom-nav {
	float:left;
	width:1148px;
	padding:0 20px 5px;}
	
span.name-driver {
	float:left;
	font-size:13px;
	font-weight:bold;
	color:#51659b;
	height:29px;
	line-height:29px;}		
	
span.name-driver span {
	font-weight:normal;
	color:#1c357c;}
	
form.status, form.search {
	float:left;
	height:30px;
	padding-left:25px;}
	
form.status label, form.search label {
	font-size:13px;
	height:30px;
	float:left;
	line-height:30px;	
	font-weight:bold;
	color:#51659b;}

form.status select, form.search select {
	font-size:13px;
	color:#1c357c;
	padding:5px 8px 3px 8px;
	margin:5px 5px 0;
	float:left;
	width:121px;
	height:25px;
	background:#fff;
	border:1px solid #c9d0dc;
    /*-moz-border-radius:12px;
    -webkit-border-radius:12px;
    -khtml-border-radius:12px;
    border-radius:12px;*/
	-moz-box-shadow:0px 2px 2px #9aa9bd inset;
	-webkit-box-shadow:0px 2px 2px inset;
	box-shadow:0px 2px 2px #9aa9bd inset;}

form.search input[type="text"] {
	float:left;
	width:160px;
	line-height:14px;	
	padding:5px 0;
	margin:4px 5px 0;
	font-family:Arial;
	font-size:11px;
	color:#666;
	height:14px;
	background:#fff;
	border:1px solid #c9d0dc;
    /*-moz-border-radius:12px;
    -webkit-border-radius:12px;
    -khtml-border-radius:12px;
    border-radius:12px;*/
	-moz-box-shadow:0px 2px 2px #9aa9bd inset;
	-webkit-box-shadow:0px 2px 2px # inset;
	box-shadow:0px 2px 2px #9aa9bd inset;}

form.status input[type="submit"], form.search input[type="submit"] {
	background:url(../images/submit-bg.gif) no-repeat;
	margin-top:2px;
	font-family:Verdana;
	font-size:10px;
	color:#fff;
	text-transform:uppercase;
	border:none;
	width:29px;
	height:30px;
	cursor:pointer;}
				
ul.blue-nav {
	float:right;}
	
.blue-nav li {
	float:left;
	height:29px;
	background:	url(../images/blue-nav-left.gif) no-repeat;
	padding-left:4px;
	margin-left:2px;}

.blue-nav li span {
	float:left;
	height:29px;
	background:url(../images/blue-nav-right.gif) 100% 0 no-repeat;
	padding-right:3px;}

.blue-nav li a {
	float:left;
	height:29px;
	line-height:29px;
	background:url(../images/blue-nav-middle.gif) repeat-x;
	padding:0 30px;
	color:#fff;
	text-decoration:none;}
	
.blue-nav li:hover {
	opacity:0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);	}

.blue-nav li:hover a {text-decoration:none;}			

.breadcrumbs-left {
	float:left;
	width:1185px;
	padding-left:3px;
	margin-top:5px;
	background:url(../images/breadcrumbs-left.gif) no-repeat;}
	
.breadcrumbs-right {
	float:left;
	width:1182px;
	background:url(../images/breadcrumbs-right.gif) 100% 0 no-repeat;
	padding-right:3px;}

.breadcrumbs-middle {
	float:left;
	width:1148px;
	background:	url(../images/breadcrumbs-bg.gif) repeat-x;
	padding:0 17px;
	height:32px;
	line-height:32px;	}	
	
.breadcrumbs-middle span {
	font-family:Verdana;
	font-size:10px;
	color:#787d89;}
	
.breadcrumbs-middle span a {
	color:#2280f2;
	text-decoration:underline;}	
	
.breadcrumbs-middle a:hover { text-decoration:none;}

a.show-legend {
	float:right;
	position:relative;
	background:url(../images/show-legend-bg.gif) 100% 5px no-repeat;
	padding-right:40px;
	font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	color:#2280f2;
	text-decoration:underline;
	height:42px;
	text-transform:uppercase;
	//margin-top:-32px;}	
	
a.show-legend:hover {text-decoration:none;}	

#main {
	float:left;
	width:1188px;
	margin:0 6px;
	padding-bottom:40px;
	background:url(../images/wrapper-bg.gif) #f2f4f8 no-repeat;}		
	
#main.driver-information {
	padding:0 148px;
	width:893px;}	
	
.post-top {
	width:893px;
	float:left;
	margin-top:17px;
	background:url(../images/post-top.gif) no-repeat;	
	padding-top:3px;}
	
#main .post-top:first-child { margin-top:25px;}	
	
.post-bottom {
	width:893px;
	float:left;
	background:url(../images/post-bottom.gif) 0 100% no-repeat;
	padding-bottom:4px;}
	
.post-middle {
	float:left;
	width:889px;
	padding:0 2px;
	background:url(../images/post-middle.gif) repeat-y;}	
	
table.inform {
	width:100%;
	background:url(../images/table-top.gif) repeat-x #f7f7fb;
	border-collapse:collapse;}	

table.inform td {
	line-height:30px;
	padding:0 0 0 45px;}
	
table.inform td span {
	color:#b95700;
	padding-right:25px;}
	
table.inform th{
	line-height:30px;
	width:844px;
	text-align:left;
	padding:35px 0 0 45px;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;}
	
table.inform tr.color-dark td { background:#e6e8ee;}	

div.blue-nav {
	margin:0 auto;
	width:220px;
	overflow:hidden;
	padding-top:35px;}
	
.red {
	color:#ff4425;
	text-transform:none;
	font-weight:normal;
	font-size:12px;
	float:left;
	line-height:15px;
	margin:-5px 0 15px 0;}
	
table.inform .title-dark td {
	font-weight:bold;
	font-size:13px;
	background:#cbced6;
	height:30px;}
	
table.inform th .discr {
	float:left;
	margin:-20px 0 10px 0;
	font-size:12px;
	text-transform:none;
	font-weight:normal;}

table.inform th .bold {
	font-weight:bold;
	color:#1c357c;
	padding:0;}	

table.application-forms {
	float:left;
	width:1188px;
	line-height:30px;
	margin-top:10px;}		

table.application-forms th {
	text-align:left;
	padding-left:45px;
	font-weight:bold;
	font-size:14px;
	text-transform:uppercase;}
	
table.application-forms tr.table-title	td {
	background:#949aa9;
	color:#fefeff;
	font-size:13px;
	font-weight:bold;}

table.application-forms td {
	padding:0 10px;
	text-align:center;}

table.application-forms tr.color-dark td { background:#e6e8ee;}

table.application-forms tr td:first-child {
	padding-left:45px;
	width:445px;
	text-align:left;}
	
.post { padding-left:45px;}

.post h2 {
	font-size:14px;
	text-transform:uppercase;
	font-weight:bold;
	color:#1c357c;
	padding:30px 0 20px;
	clear:both;}
	
.col {
	float:left;
	width:450px;}

.col li {
	font-weight:bold;
	font-size:13px;
	line-height:30px;
	margin-top:10px;}

.col li li {
	line-height:24px;
	font-size:12px;
	margin-top:0;
	font-weight:normal;}

.col li li a {
	color:#2280f2;
	text-decoration:underline;}

.col li li a:hover { text-decoration:none;}

.driver-profile table.application-forms { margin:1px 0 20px;}

.driver-profile table.application-forms .table-title td { text-decoration:underline;}

.driver-profile table.application-forms tr td:first-child { width:auto;}

.driver-profile	table.application-forms .link-profile { color:#2280f2;}

.driver-profile	table.application-forms .page {
	background:url(../images/td-page-bg.gif) repeat-x;
	line-height:36px;
	font-weight:bold;}
	
.parametr-top {
	margin:25px auto;
	width:493px;
	background:url(../images/parametr-top.gif) no-repeat;
	padding-top:5px;}
	
.parametr-bottom {
	float:left;
	width:493px;
	background:url(../images/parametr-bottom.gif) 0% 100% no-repeat;
	padding-bottom:5px;}
	
.parametr-middle {
	float:left;
	width:489px;
	background:url(../images/parametr-middle.gif) repeat-y;
	padding:0 2px;}			
	
form.select-parametr {
	float:left;
	width:489px;
	padding:30px 0 50px;
	text-align:center;
	background:url(../images/parametr-gradient.gif) repeat-x #f2f4f8;}	
	
form.select-parametr h2 {
	font-size:14px;
	text-transform:uppercase;
	font-weight:bold;
	padding-bottom:10px;}

form.select-parametr span.discr, span.discr {
	clear:both;
	display:inline-block;
	font-weight:normal;
	font-size:14px;
	text-transform:uppercase;
	color:#929cb8;}

form.select-parametr fieldset { margin-top:33px;}

form.select-parametr .time {
	width:100%;
	height:25px;
	line-height:20px;
	float:left;
	margin-bottom:20px;}

form.select-parametr .time label {
	padding:0 7px 0 12px;
	width:auto;
	float:none;}

form.select-parametr .time  input {
	width:43px;
	height:14px;
	padding:2px 5px;
	border:1px solid #9398a7;
	background:none;
	color:#1c357c;
	font-size:12px;}
	
form.select-parametr .time a {
	background:url(../images/select-data.gif)  0 100% no-repeat;
	display:inline-block;
	height:16px;
	padding:3px 0;
	line-height:16px;}	

form.select-parametr label{
	float:left;
	text-align:right;
	width:202px;
	padding-right:11px;
	line-height:18px;}
	
form.select-parametr.new-appl label{
	padding-right:10px;
	width:240px;
	margin-bottom:12px;}

form.select-parametr.new-appl label span { color:red;}

form.select-parametr.new-appl span.radio-button { float:left;}

form.select-parametr.new-appl input[type="radio"] { margin:3px 0 0;}

form.select-parametr.new-appl input[type="text"] {
	float:left;
	background:none;
	border:1px solid #9398a7;
	color:#9398a7;
	font-size:12px;
	font-family:Arial;
	line-height:14px;
	padding:2px 5px;
	height:14px;}	
	
form.select-parametr.new-appl p.link-app { float:left;}	
	
form.select-parametr.new-appl p.link-app a { 
	border-right:1px solid #aab4ce;
	padding:0 10px;}

form.select-parametr.new-appl p.link-app a:last-child { border-right:none;}		

form.select-parametr.new-appl p.link-app span{
	float:left;
	text-align:right;
	width:240px;
	color:#1c357c;}

form.select-parametr select {
	float:left;
	padding:1px 1px 1px 5px;
	width:125px;
	height:20px;
	margin-bottom:9px;
	color:#1c357c;
	font-size:12px;	
	background:#e7ebf3;
	border:1px solid #9398a7;}	
	
form.select-parametr option { padding:1px 1px 1px 5px;}	

form.select-parametr input[type="submit"], .check-box form input[type="submit"]{
	background:url(../images/parametr-submit.gif) no-repeat;
	width:131px;
	height:29px;
	margin:20px 0 0 60px;
	padding-bottom:3px;
	border:none;
	font-family:Verdana;
	font-size:11px;
	color:#fff;
	cursor:pointer;}
	
form.select-parametr.new-appl .submit-button {
	float:left;
	width:100%;
	text-align:center;}

form.select-parametr.new-appl input[type="submit"] {
	width:90px;
	margin:20px 0 0 98px;}
	
.check-box {
	width:840px;
	margin:20px auto 0;
	padding-left:60px;}
	
.check-box .discr {
	margin:50px 0 10px;
	width:780px;
	text-align:center;}	
	
.check-box div {
	width:180px;
	padding-right:30px;
	float:left;}		
	
.check-box h2 { 
	padding:20px 0;
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;}

.check-box input[type="checkbox"] { float:left; margin:5px 0;}

.check-box label {
	float:left;
	width:160px;
	padding-left:5px;
	line-height:24px;
	height:24px;}	
	
.check-box p {
	width:780px;
	text-align:center;
	float:left;
	margin:30px 0 50px;}	