.zend_form{
    padding:5px;
}
.form_element{
    padding-bottom:8px;
}
.zend_form label{
    line-height:18px;
    padding-right:11px;
    text-align:right;
}
.required{
    font-weight:bold;
}
.form_element_tip{
    font-size:9pt;
    color:#666;
    margin-left:10px;
}
